  /* Using flex with the column direction to
      align items in a vertical direction */
      .player {
        background-color: #15161850;
        border-radius: 100%;
        box-shadow: 2px 6px 10px gold;
        align-items: center;
        display: flex;
        flex-direction: column;
        justify-content: center;
        color: whitesmoke;
        transition: background-color .5s;
        
        }
        
        .details {
        font-size: 10px;
        display: flex;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        color: black;
        text-shadow: 2px 2px 4px gold;
        }
        
        .track-art {
        height: 250px;
        width: 250px;
        background-image: URL(
            "https://source.unsplash.com/Qrspubmx6kE/640x360");
        background-size: cover;
        background-position: center;
        border-radius: 100%;
        }
        .track-art{
            box-shadow: 2px 2px 4px goldenrod;
            border: 0.8em #171a1d solid;
            box-shadow: 0.8em 0.8em 1.8em #151618,
                        -0.8em -0.8em 1em #33353b;
        }
        .track-art:hover{
            box-shadow: 1px 2pc 1px goldenrod;
            transform: scale(1.05);
        }
        
        /* Changing the font sizes to suitable ones */
        .now-playing {    
        font-size: 1.3rem;
        color: white;
        }
        
        .track-name {
        font-weight: bold;
        text-shadow: 2px 5px 4px gold;    
        font-size: 3.5rem;
        }
        
        .track-artist {
        font-size: 1.8rem;
        font-weight: bold;
        text-shadow: 2px 2px 4px gold;
        }
        
        /* Using flex with the row direction to
        align items in a horizontal direction */
        .buttons {
        display: flex;
        flex-direction: row;
        align-items: center;
        }
        
        .playpause-track,
        .prev-track,
        .next-track {
        padding: 25px;
        opacity: 0.8;
        
        /* Smoothly transition the opacity */
        transition: opacity .2s;
        }
        
        /* Change the opacity when mouse is hovered */
        .playpause-track:hover,
        .prev-track:hover,
        .next-track:hover {
        opacity: 1.0;
        }
        
        /* Define the slider width so that it scales properly */
        .slider_container {
        width: 75dvh;
        max-width: 400px;
        display: flex;
        justify-content: center;
        align-items: center;
        }
        
        /* Modify the appearance of the slider */
        .seek_slider, .volume_slider {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        height: 5px;
        background: black;
        opacity: 0.7;
        -webkit-transition: .2s;
        transition: opacity .2s;
        }
        
        /* Modify the appearance of the slider thumb */
        .seek_slider::-webkit-slider-thumb,
        .volume_slider::-webkit-slider-thumb {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        width: 15px;
        height: 15px;
        background: white;
        cursor: pointer;
        border-radius: 50%;
        }
        
        /* Change the opacity when mouse is hovered */
        .seek_slider:hover,
        .volume_slider:hover {
        opacity: 1.0;
        }
        
        .seek_slider {
        width: 60%;
        }
        
        .volume_slider {
        width: 30%;
        }
        
        .current-time,
        .total-duration {
        padding: 10px;
        }
        
        i.fa-volume-down,
        i.fa-volume-up {
        padding: 10px;
        }
        
        /* Change the mouse cursor to a pointer
        when hovered over */
        i.fa-play-circle,
        i.fa-pause-circle,
        i.fa-step-forward,
        i.fa-step-backward {
        cursor: pointer;
        color: black;
        }